body {
    /*https://2.bp.blogspot.com/-bPIkBuAXsbY/XR76sW9L4RI/AAAAAAAAELA/UcveontcdhwsrsHt9V5IqpYe6tMp3QmlACKgBGAs/w919/fantasy-monster-cthulhu-uhdpaper.com-4K-158.jpg*/
    background-image: url(background.jpg) !important;
    background-repeat: no-repeat !important;
    background-color: darkslategray !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-origin: content-box !important;
    background-size: cover !important;
}


.box, .box-header {
    background-color: rgba(0, 0, 0, 0.8);
    color:rgb(171, 228, 182);
}



.wrapper {
    background-color:black !important;
    opacity: 1;
    display:contents;
}
.content-wrapper {
    opacity: 1;
    display:contents;
}

footer {
    position:fixed;
    display: flex;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: darkslategray; /* !important;*/
}
footer > div {
    color: rgb(120, 194, 106);
    display: flex;
    height:100%;
    width:calc(50% - 2rem);
    margin:0.5rem auto 0.5rem auto;
    padding-left:1rem;
    padding-right:1rem;
}
footer > div > div {
    display: inline-block;
    width:50%;
}

/* roll is impossible */
.impossible::before {
    color:#8A0829;
}